{% comment %}
  Footer for lesson pages.
{% endcomment %}
<footer>
  <div class="row">
    <div class="col-md-6" align="left">
      <h4>
	Copyright &copy; 2017 New York University
      </h4>
    </div>
    <div class="col-md-6" align="right">
      <h4>
	<a href="{{ site.github.repository_url }}/">Source</a>
	/
	<a href="{{ site.github.repository_url }}/blob/gh-pages/CONTRIBUTING.md">Contributing</a>
	/
	<a href="{{ site.github.repository_url }}/blob/gh-pages/CITATION">Cite</a>
	/
	<a href="{{ site.contact }}">Contact</a>
      </h4>
    </div>
  </div>
</footer>
